*
  box-sizing: border-box
  font-family: 'Museo Sans Cyrl', sans-serif


html, body
  margin: 0
  height: 100%

@import 'base/_loading'
@import 'base/_font'
@import "blocks/_header"
@import "blocks/_nsfw-checkbox"
@import "blocks/_anime-list"
@import "blocks/_container"
@import "blocks/_search-form"
@import "blocks/_specific-anime"
@import "blocks/_button-scroll-top"

@import "base/_media"


