*
    box-sizing: border-box
    font-family: 'Museo Sans Cyrl', sans-serif

html, body
    margin: 0
    background-color: green
    height: 100%

@import 'base/loading'
@import 'base/_font'
@import "blocks/_anime-list"
@import "blocks/_container"
@import "blocks/_search-form"



